# Ali Muhammad
# 19B-099-SE
# SEC A

In [9]:
#Ex 2.1

# A
num=0+1+2+4
print(num)

# B
ali = 19
khan = 25
sham = 4
avg =((ali+khan+sham)/3)
print(avg)

# C
a=73
b=403
c=b//a
print(c)

# D
a=48
b=360
d=b%a
print(d)

# E
x=3**10
print(x)

# F
khan=5.7
zara=5.4
avg_height=khan-zara
print(avg_height)

# G
p1=34.99
p2=29.95
p3=31.50
min(p1,p2,p3)

7
16.0
5
24
59049
3

29.95

In [2]:
#Exercise 2.3

a= 3
b= 4
c= a*a + b*b
print(c)

25

In [56]:
#Exercise 2.2

#A

a= 2+2
a<4
print(a<4)

#B

a= 7//3
b= 1+1
sum= a==b
print(sum)

#C

a=3**2
b=4**2
sum=a+b
e= sum==25
print(e)

#D

sum=2+4+6 
sum>12
print(sum>12)

#E

a=1387
b= 19
d= 1387%19
e= d==0
print(e)

#F

a=31 % 2
even= a==0
print(even)

#G

a= 34.99 #Dollars
b= 29.95 #Dollars
c= 31.50 #Dollars
min(a,b,c)
if min(a,b,c)<30:
    print("True")
else:
    print("False")

False
True
True
False
True
False
True

In [75]:
#Exercise 2.4

s1=('ant')
s2=('bat')
s3=('cod')
C=(s1+s2+s3)
print(C)


S1=(s1,s2,s3)*1
print(S1)
s1=('ant')*10
print(s1)


a=('ant')
print(a+a+a+a+a+a+a+a+a+a)
s1=('ant')*1
s2=('bat')*2
s3=('cod')*3
print(s1,s2,s3)


B=(s1+s2+s2+s3+s3+s3)
print(B)
s=('ant','bad')*7
print(s)
a=(s1+s1+s1+s1+s1+s1+s1+s2+s2+s2+s2+s2+s2+s2)
X=('batbatcod')*5
print(X)

print("\n\t")

Z=((s2*2)+s3)+((s2*2)+s3)+((s2*2)+s3)+((s2*2)+s3)+((s2*2)+s3)
print(Z)

antbatcod
('ant', 'bat', 'cod')
antantantantantantantantantant
antantantantantantantantantant
ant batbat codcodcod
antbatbatbatbatcodcodcodcodcodcodcodcodcod
('ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad')
batbatcodbatbatcodbatbatcodbatbatcodbatbatcod


batbatbatbatcodcodcodbatbatbatbatcodcodcodbatbatbatbatcodcodcodbatbatbatbatcodcodcodbatbatbatbatcodcodcod

In [71]:
#Exercise 2.5

s=("0123456789")

#A
print(s[0])
#B
print(s[1])
#C
print(s[6])
#D
print(s[8])
#E
print(s[9])

0
1
6
8
9

In [74]:
#Exercise 2.6

a=("bat","ball","barn","basket","badminton")
{a}

{('bat', 'ball', 'barn', 'basket', 'badminton')}

In [73]:
#Exercise 2.7

grades=[9,7,7,10,3,9,6,6,2]
#(a)
a=grades.count(7)
print(a)
#(b)
a=grades[-1]=4
print(a)
#(c)
a=max(grades)
print(a)
#d
a=grades.sort()
print(a)
#e
import statistics
print(statistics.mean(grades))

2
4
10
None
6.777777777777778

In [76]:
#Exercise 2.9

a=False+False
print(type(a))
(b)
b=2*3**2.0
print(type(b))
(c)
c=4//2+4%2
print(type(c))
d=2+3==4 or 5 >=5
print(type(d))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [78]:
#Exercise 2.10

# A
import math
a=3
b=6
c=a**2+b**2
d=math.sqrt(c)
print(d)

# B
if d==5:
    print("The value of hypotenuse is 5")
else:
    print("The value of hypotenuse is not 5")
    
# C
from math import pi
a=10
A=pi*a**2
print(A,str('sq.meter'))

# D
r=10
x=2
y=1
a=x+y==r
b=x**2+y**2==r**2
print(a)
print(b)

6.708203932499369
The value of hypotenuse is not 5
314.1592653589793 sq.meter
False
False

In [86]:
#Exercise 2.11

lst=[-7-6-5-4-3-2-1]
print(lst)
average_age = 9*17+24*10+21*11+27*12
x = average1 = average_age/17+24+21+27
print(average1)
a=2**-20
print(a)
b= 4356//61
print(b)
c= 4365%61

[-28]
127.76470588235294
9.5367431640625e-07
71

In [89]:
#Exercise 2.12

a= '+'
b= '-'
print(a+b)
print(b+a+b)
print(a+b+b)
print(a+b+b+a+b+b)
print(a+b+b+a+b+b+a+b+b+a+b+b+a+b+b)

+-
-+-
+--
+--+--
+--+--+--+--+--

In [90]:
#Exercise 2.13

s= 'abcdefghijklmnopqrstuvwxyz'
print(s[0])
print(s[2])
print(s[24])
print(s[25])
print(s[16])

a
c
y
z
q

In [92]:
#Exercise 2.14

s= 'goodbye'
print(s[0]=='g')
print(s[6]=='g')
print(s[0]=='g' and s[1]=='a')
print(s[-2]=='x')
print(s[3]=='d')
print(s[0]==s[1])
print(s[1]+s[2]+s[3]+s[4]=='tion')

True
False
False
False
True
False
False

In [96]:
#Exercise 2.16

#A
a=6
b=7
average=(a+b/2)
print(average)

#B

9.5

In [32]:
#Exercise 2.15

#A

first=len("anachronistically")
second=len("counterintuitive")

if first > second:
    print("Numbers of character is one time greater in 'anachronistically'")
else:
    print("Number of characters are same")
    

print("\n\t\n\t")

#B  
    

Word = { 'misinterpretation': 85, 'misrepresentation': 90 }
print(Word)


print("\n\t\n\t")

#C

Characters="floccinaucinihilipilification"
find="e"
if find in Characters:
      print("Available")
else:
      print("Not available")
        

print("\n\t\n\t")

#Programming Exercise : 05-d        

summ=len("counterrevolution")
first=len("counter")
second=len("resolution")
tsum=first+second

if summ == tsum:
    print("Sum of the characters are equal")
else:
    print("Sum of the characters are not equal")

Number of characters : 17
The number of characters: 14
dictionary gives the word in this order
['misinterpretation', 'misrepresentation']
Not available
The number of characters are: 17
The number of characters are: 10

In [23]:
#Exercise 2.16

a,b =6,7
c = (a+b)/2
inventory = ["paper","staples","pencils"]
first, middle, last = "John","Fitzgerald","Kennedy"
fullname = first+" "+middle+" "+last
print(fullname)

John Fitzgerald Kennedy

In [25]:
#Exercise 2.17

a=7-9 < 10
print(a)
b=len(inventory) > 5*len(fullname)
print(b)
c=c <= 24
print(c)
d=(6.75 < a and 6.75 > b) or (6.75 < b and 6.75 > a)
print(d)
e=len(middle) > len(first) and len(middle) < len(last)
print(e)
f=len(inventory)==0 or len(inventory) > 10
print(f)

True
False
True
False
False
False

In [26]:
#Exercise 2.18

flowers = ['rose','bougainvillea','yucca','marigold','daylilly','liiy of the valley']
print('a)',flowers)
print('b)','potato' in flowers)
thorny=flowers[:3]
print('c)',thorny)
poisnous = flowers[-1]
print('d)',poisnous)
dangerous = [thorny] + [poisnous]

a) ['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'liiy of the valley']
b) False
c) ['rose', 'bougainvillea', 'yucca']
d) liiy of the valley

In [27]:
#exercise no 2.19

answers = ['Y','N','N','Y','N','Y','Y','Y','N','N','N']
numYes=answers.count('y')
print('a)',numYes)
numNo=answers.count('N')
print('b)',numNo)
percentYes=(numYes/len(answers))*100
print('c)',percentYes,'%')
answers.sort()
print('d)',answers)
f=answers.count('N')
print('e)',"at",f,answers[f],"will occur for the first time")

a) 0
b) 6
c) 0.0 %
d) ['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']
e) at 6 Y will occur for the first time

In [30]:
#Execise 2.20

s='pot'
print(s[::-1])

top

In [29]:
#Execise 2.21

s = 'Ahsan'
t = 'Khursheed'
print(s[0]+t[0])

AK

In [31]:
#Exercise 2.22
lst = [3,7,-2,12]
print(max(lst)-min(lst))

14

In [33]:
#Exercise 2.23

#Programming Exercise : 04-a

monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
monthsT.insert(3,"Apr")
print(monthsT)

print("\n\t")

#Programming Exercise : 04-b

monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
monthsT.append("Jun")
print(monthsT)

print("\n\t")

#Programming Exercise : 04-c

monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
monthsL.pop()
monthsT.pop()
print(monthsL)
print(monthsT)

print("\n\t")

#Programming Exercise : 04-c

monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
del monthsT[2]
del monthsL[2]
print(monthsT)
print(monthsL)

print("\n\t")

#Programming Exercise : 04-d

monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
monthsL.reverse()
monthsT.reverse()
print(monthsL)
print(monthsT)

print("\n\t")

#Programming Exercise : 04-e

monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
monthsL.sort()
monthsT.sort()
print(monthsL)
print(monthsT)

['Jan', 'Feb', 'Mar', 'Apr', 'May']


['Jan', 'Feb', 'Mar', 'May', 'Jun']


['Jan', 'Feb', 'Mar']
['Jan', 'Feb', 'Mar']


['Jan', 'Feb', 'May']
['Jan', 'Feb', 'May']


['May', 'Mar', 'Feb', 'Jan']
['May', 'Mar', 'Feb', 'Jan']


['Feb', 'Jan', 'Mar', 'May']
['Feb', 'Jan', 'Mar', 'May']

In [34]:
#Exercise 2.31

lst=[2,3,4]
lst.extend([5,6])
lst
[2,3,4,5,6]
lst2=lst.copy()
lst2
[2,3,4,5,6]
lst.clear()
lst
[]
lst2
[2,3,4,5,6]

[2, 3, 4, 5, 6]

In [35]:
#Exercise 2.28

#Programming Exercise : 03-a

list=['1','2','3','4','5']

print(list.index('3'))

print("\n\t")

#Programming Exercise : 03-b

print(list[2])

print("\n\t")

#Programming Exercise : 03-c

list.sort(reverse=True)
print(list)

print("\n\t")

#Programming Exercise : 03-d

list.remove(list[0])
list.insert(4,'1')
print(list)

2


3


['5', '4', '3', '2', '1']


['4', '3', '2', '1', '1']

In [36]:
#Exercise : 2.27

#Programming Exercise : 02

import math
hyp = float(input("Enter Length of the Ladder : "))
theta = float(input("Enter Angle of the Ladder : "))
rad = math.pi * (theta)/180
perp = hyp * math.sin(rad)
print ("The height of the Ladder is :", perp)


print("\n\t\n\t")

#Programming Exercise : 02-a

length1=16
degrees1=75
radians1=(3.142*degrees1)/180
print(radians1)


print("\n\t")

#Programming Exercise : 02-b

length2=20
degrees2=0
radians2=(3.142*degrees2)/180
print(radians2)


print("\n\t")

#Programming Exercise : 02-c

length3=24
degrees3=45
radians3=(3.142*degrees3)/180
print(radians3)


print("\n\t")

#Programming Exercise : 02-d

length4=24
degrees4=80
radians4=(3.142*degrees4)/180
print(radians4)

Enter Length of the Ladder : 3
Enter Angle of the Ladder : 5
The height of the Ladder is : 0.2614672282429745



1.3091666666666666


0.0


0.7855


1.3964444444444444

In [39]:
#Exercise : 2.25  #NOT READY

grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B'] 

grades.count(1)
print(grades)

['B', 'B', 'F', 'C', 'B', 'A', 'A', 'D', 'C', 'D', 'A', 'A', 'B']